<div class="product d-flex align-items-center justify-content-center flex-column">
    <div class="product__container">
        <a href="/"><img src="https://cdn.shopify.com/s/files/1/0274/4293/7933/products/001111537_630x806.progressive.jpg?v=1623249690" 
            alt="Product Image" class="product__img img-fluid"></a>
        <div class="product__size">
            <h3 class="text-uppercase">quick add</h3>
            <div class="d-flex align-items-center justify-content-center flex-wrap text-center">
                <span class="product__size--variant d-flex align-items-center justify-content-center">S</span>
                <span class="product__size--variant d-flex align-items-center justify-content-center">M</span>
                <span class="product__size--variant d-flex align-items-center justify-content-center">L</span>
            </div>
        </div>
    </div>
    <div class="product__content">
        <h2 class="title--xs text-capitalize"><a href="/">Welcome Hydra corduory zip jacket - bone</a></h2>
        <p class="product__price">$79.99</p>
    </div>
</div>