.intro {
    width: 100vw;
    height: 75vh;
    background-image: url('https://cdn.shopify.com/s/files/1/0274/4293/7933/files/Banners-28.5.21-New-Balance-Desktop_1.jpg?v=1622130089');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}