.intro {
    width: 100vw;
    min-height: 600px;
    height: 80vh;
    position: relative;
    background-image: url('https://cdn.shopify.com/s/files/1/0274/4293/7933/files/super-baggy-denim-main-banner-2_1.jpg?v=1624020197');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    // Intro Content

    &__content {
        position: absolute;
        top: calc(65% / 2);
        left: 20%;

        @media only screen and (max-width: 620px){
            left: 10%;
        }
    }
}