<main>
    <!-- Intro Section  -->
    <section class="intro">
        <div class="intro__content">
            <h2 class="title--sm text-capitalize text-white">back in stock</h2>
            <h1 class="title--xl text-capitalize text-white mb-30">Route One O.B. <br />
                Super Baggy <br/>
                Denim
            </h1>
            <!-- Custom Button -->
            <app-custom-btn buttonType="primary" ></app-custom-btn>
        </div>
    </section>
</main>
<!-- Brand Component -->
<app-brand-preview></app-brand-preview>
<!-- Category Section -->
<section class="category mt-50">
    <div class="container">
        <h3 class="title--sm text-capitalize">Discover</h3>
        <h2 class="title--xl text-capitalize">latest skateboard</h2>
        <!-- Category Component -->
        <app-category-preview></app-category-preview>
    </div>
</section>