/*============================ Basic Stylings ============================*/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

/*============================= Typography =================================*/

.title {
    &--sm {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 28px;

        @media only screen and (max-width: 620px) {
            font-size: 1.6rem;
        }
    }

    &--xl {
        font-size: 6rem;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -2.25px;

        @media only screen and (max-width: 620px) {
            font-size: 5.5rem;
            line-height: 60px;
        }

        @media only screen and (max-width: 500px) {
            font-size: 4.5rem;
        }

        @media only screen and (max-width: 380px) {
            font-size: 4rem;
        }
    }
}

/*============================= SPACING ======================================*/

.mb-30 {
    margin-bottom: 30px;
}



/*=============================== BOOTSTRAP OVERRIDE =================================*/

.container {
    width: 1440px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
